<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Petopia.Properties.Settings.PetopiaNewConnectionString"
            connectionString="Data Source=DESKTOP-828O4VC\SQLEXPRESS;Initial Catalog=PetopiaNew;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>